
* {margin: 0; padding: 0; box-sizing: border-box;}


:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}
/*appies sytle to <header>*/
header {padding: 20px 35px;
    background-color: #39a6b2;display: flex; justify-content: space-between;
  flex-wrap: wrap;
position: sticky; top: 0;
position: -webkit-sticky;
position: sticky;
top: 0;
background-image: url("../images/hero-bg\ flipped.jpg");
background-size: cover; background-position: 80%;
background-attachment: fixed;   z-index: 9999;}

header h1 { font-weight: bold;
font-size: 36px;
color: #fce138;
margin: 0; 
text-shadow: 0 0 10px rgba(0, 0, 0, 5);}

header a {color: #fce138; text-decoration: none;}

header nav {display:flex; flex-wrap: wrap; justify-content: space-between; align-items: centers; list-style: none}

header nav ul li {display: inline;}

header nav ul li a {padding: 10px 15px; font-weight: lighter; font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 5)}

  header nav ul li a:hover {background: #fce138; color: #024e76; border-radius: 15px; text-shadow: none;}



body {
    
    color: #39a6b2; font-family: Arial, Helvetica, sans-serif;font-size: larger;}

 /*Hero Style Start */

 .hero {background-image: url("../images/hero-bg\ flipped.jpg"); align-items: flex-start; display: flex; justify-content: center; flex-wrap: wrap; background-size: cover; 
  background-position: 80%; background-attachment: fixed;}   

 .hero-cta {width: 35%; text-align: right; margin: 3.5%; color: #fff; font-size: 18px; line-height: 1.2;}

  .hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5)}

  .hero-form {
    border: 3px solid #024e76;
    background-color: rgba(252, 225, 56, .8);
    padding: 20px;
    color: #024e76;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
  }
  .hero-form h3 {font-size: larger; margin: 0px;}

 .hero-form p {margin: 5px 0 15px 0; color:#024e76;}  


 .form-input {border: 1px; display: block; padding: 7px 15px; font-size: 16px; color: #024e76; width: 100%; margin-bottom: 15px;
border-radius: 10px; background-color: rgba(255, 255, 588, 0.75);}
.form-input:focus {background-color: rgba(255, 255, 255, 1); outline: none;}

 .hero-form label {margin: 10px 0px;}


 .hero-form button {color: #fce138; background-color: #024e76; border: none; padding: 10px 20px; font-size: 16px;}
 hero-cta {color: blue; border-radius: 10px;}

 .hero-form button:hover {background-color: #39a6b2;}

 .checkbox-wrapper input, .radio-wrapper input {opacity: 0}
 .checkbox-wrapper label, .radio-wrapper label {position: relative; left: 10px; margin: 10px; line-height: 1.6;}

.checkbox-wrapper label::before, .radio-wrapper label::before {content: ""; height: 20px; width: 20px; background: rgba(255, 255, 255, .75); 
border: 1px solid #024e76; position: absolute; top: -4px; left: -30px;}

.checkbox-wrapper input + label::after, 
.radio-wrapper input + label::after {
  content: none;
}

.checkbox-wrapper input:checked + label::after, 
.radio-wrapper input:checked + label::after {
  content: "";
}

.radio-wrapper label::before {border-radius: 50%;}

.radio-wrapper label::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #024e76;
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(cirle, #39a6b2, #024e76);
}

.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid #024e76;
  border-bottom: 2px solid #024e76;
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58eg);
}

/* HERO STYLES END */


/* SECTION TITLE STYLES START */

.section-title {font-size: 48px; color: #024e76; border-bottom: 3px solid; padding-bottom: 20px; text-align: center; margin: 0 auto 35px auto; width: 50%;}

.primary-border {border-color: #fce138;}
.secondary-border {border-color: #39a6b2;}

.intro p {line-height: 1.7; color: #39a6b2; width: 80%; font-size: 20px; margin: 0 auto; text-align: center;}


.step-img {flex: 1 12%; margin-right: 20px;}
.step-img img {max-width: 100%;}


.steps {background: #fce138; font-size: 35px; padding: 75px;}
.step h3 {color: #024e76; font-size: 46px; flex: 1 30%;}
.step-text {flex: 12;}
.step-info {flex: 2 70%; display: flex; flex-wrap: wrap; align-items: center;}
.step-text p {color: #39a6b2; font-size: 18px;}
.step-text h4 {font-size: 26px; line-height: 1.5; color: #024e76;}

.step {margin: 50px;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;}
 
.step:not(:last-child) {border-bottom: 1px solid #39a6b2;}

/* MEET THE TRAINERS START */

.trainers {width: 100%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;}
.trainer {margin: 20px;flex: 1; background: #024e76; color: #fce138;}
.trainer img {width: 100%}
.trainer-bio {padding: 25px; line-height: 30px;}
.trainer-bio h3 {font-size: 28px; }
.trainer-bio h4 {font-weight: lighter; font-size: 22px; margin-bottom: 15px;}
.trainer-bio p {font-size: 17px; margin-bottom: 1.3;}

/* TRAINER STYLES END */
.text-left {text-align: left;}
.text-right {text-align: right;}

.reach-out {width: 900px; height: 500px ;margin: 0 auto 30px auto; background: #024e76; color: #fce138;overflow: auto;}
.reach-out-border {border-color: #024e76;}
.reach-out-secondary-border {border-color: #39a6b2;}
.reach-out-title {font-size: 55xp; color: #fce138; margin-bottom: 35px; padding: 0 100px 20px 100px; display: inline-block; border-bottom: 3px solid;}


.flex-row {display: flex;}

/* REACH OUT STYLES START */
.contact {
  background: #024e76;
}

.contact h2 {
  color: #fce138;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-form input, .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
background-color: rgba(255, 255, 255, 1)}

.contact-form:focus, .contact-form textarea {background-color: rgba(255, 255 , 255, .5); outline: none;}


.contact-form button {
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {color: #fce138; background: #39a6b2;}
.contact-info a {
  color: #fce138;
}


/* REACH OUT STYLES END */

   footer {background: #fce138; width: 100%; padding: 40px 35px; display: flex; justify-content: space-between; flex-wrap: wrap;}
    footer h2 {color: #024e76; font-size: 30px; margin: 0;}
    footer div {line-height: 1.5; text-align: right;}
    footer a {color: #024e76;}
    .heart {color: red;}


/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;



/*Nothing below these*/

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

    @media screen and (max-width: 980px) {
      header {
        padding-bottom: 0; justify-content: center; position: relative; }
    
      header h1 {width: 100%;text-align: center;}
    

header nav ul {margin-top: 20px; width: 100%; justify-content: center;}

header nav ul li a {font-size: 20px;}
footer h2, footer div {text-align: center; width: 100%;}

.hero-cta, .hero-form {width: 100%;}

.hero-cta {text-align: center;}

.section-title {width: 80%;}
.trainer {flex: 0 70%;}

.contact-info iframe {flex: 1 100%;}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

}

@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}